
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>HREFerence</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">HREFerence</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Technology
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                      <li>
                          <a href="/hacking">
                              Hacking
                          </a>
                      </li>             
                      <li>
                          <a href="/programming">
                              Programming
                          </a>
                      </li>             
                      <li>
                          <a href="/hardware">
                              Hardware
                          </a>
                      </li>             
              </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"href="#">
              Science
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Physics</a></li>
              <li><a href="#">Chemistry</a></li>
              <li><a href="#">Biology</a></li>
              <li><a href="#">Astronomy</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Mathematics
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Algebra</a></li>
              <li><a href="#">Geometry</a></li>
              <li><a href="#">Linear Algebra</a></li>
              <li><a href="#">Trigonometry</a></li>
              <li><a href="#">Statistics</a></li>
              <li><a href="#">Calculus</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Social Studies
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">World History</a></li>
              <li><a href="#">European History</a></li>
              <li><a href="#">Us history</a></li>
              <li><a href="#">Civics</a></li>
              <li><a href="#">Economics</a></li>
              <li><a href="#">Art</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>