
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>HREFerence</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">HREFerence</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Technology
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                      <li>
                          <a href="/hacking">
                              Hacking
                          </a>
                      </li>             
                      <li>
                          <a href="/programming">
                              Programming
                          </a>
                      </li>             
                      <li>
                          <a href="/hardware">
                              Hardware
                          </a>
                      </li>             
              </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"href="#">
              Science
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/physics">Physics</a></li>
              <li><a href="/chemistry">Chemistry</a></li>
              <li><a href="/biology">Biology</a></li>
              <li><a href="/astronomy">Astronomy</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Mathematics
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/algebra">Algebra</a></li>
              <li><a href="/geometry">Geometry</a></li>
              <li><a href="/linear-algebra">Linear Algebra</a></li>
              <li><a href="/trigonometry">Trigonometry</a></li>
              <li><a href="/statistics">Statistics</a></li>
              <li><a href="/calculus">Calculus</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Social Studies
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/world-history">World History</a></li>
              <li><a href="/european-history">European History</a></li>
              <li><a href="/us-history">Us history</a></li>
              <li><a href="/civics">Civics</a></li>
              <li><a href="/economy">Economics</a></li>
              <li><a href="/art">Art</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>